@{
    ViewData["Title"] = "Coffee Time!";
}

<div class="text-center">
    <h1 class="display-4">Welcome To the Coffee Shop!</h1>
    <p>Please register <a href="https://localhost:7172/Home/Registration">here</a>.</p>
    <img src="https://image.posterlounge.com/img/products/520000/514721/514721_poster_l.jpg">
</div>
