@{
    ViewData["Title"] = "Privacy Policy:";
}
<h1>@ViewData["Title"]</h1>

<p>Collaboratively network technically sound human capital.</p>
<p>Professionally target next-generation experiences.</p>
<p>Fungibly utilize principle-centered systems.</p>
